.analytics-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  text-align: center;
}

.analytics-div {
  margin: 1.5em;
  padding: 0.5em;
  width: 40%;
  margin: 1em auto;
  /* height: 30vh; */
  background-color: rgba(128, 128, 128, 0.295);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.common-words-outside-div {
  width: 90%;
}

.common-words-inside-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  /* width: 90%; */
  text-align: center;
}

.common-words {
  width: 50%;
}
