.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 18%;
  background-color: rgba(32, 33, 53, 0.945);
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  /* box-shadow: rgba(136, 165, 191, 0.48) 3px 1px 8px 0px, rgba(78, 78, 78, 0.8) -3px -1px 8px 0px; */
}

.navbar li {
  display: block;
  color: whitesmoke;
  padding: 8px 16px;
  margin-bottom: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: top ease 5s;
}

.navbar li.active {
  background-color: #02442c;
  color: white;
}

.navbar li:hover:not(.active) {
  /* transition: background-color 500ms linear;
  background-color: whitesmoke;
  color: rgba(32, 33, 53, 0.945); */
  position: relative;
  top: -5px;
}
